.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: var(--u2);
  color: var(--primary);
  background-color: var(--background);
  border-radius: var(--u1);
  width: 100%;
}
