.footer {
  background-color: var(--background);
  border-top: 1px solid var(--light-gray);
  bottom: 0;
  display: flex;
  height: 75px;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
