.header {
  background-color: var(--background);
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  height: 100px;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
