* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary: #191919;
  --secondary: #ffffff;
  --accent: #ff0080;

  --lighter-gray: #f7f7f7;
  --light-gray: #e6e6e6;
  --dark-gray: #808080;

  --background: #ffffff;

  --smallUnit: 4px;
  --u1: 8px;
  --u2: 16px;
  --u3: 24px;
  --u4: 32px;
  --u5: 40px;
  --u6: 48px;
  --u7: 56px;
  --u8: 64px;
}

body {
  background-color: var(--lighter-gray);
}

.button {
  padding: var(--smallUnit) var(--u2);
  border-radius: var(--smallUnit);
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
}

.button:disabled {
  background-color: rgb(0, 0, 0, 0.5);
  cursor: not-allowed;
}
